#appView{
    background-color: black;
    height: 100vh; width: 100vw;
    box-sizing: border-box;
    color: #fefe;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
} 

#icon{
    width: 25vw;
    height: 25vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 17vh;
    opacity: 0.8;
}